@font-face {
    font-family: 'EgyptianEF';
    src: url('fonts/EgyptianEF-BoldExtended.woff2') format('woff2'),
        url('fonts/EgyptianEF-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Special Elite';
    src: url('fonts/SpecialElite-Regular.woff2') format('woff2'),
        url('fonts/SpecialElite-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes erase {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: var(--path-length);
  }
}

@keyframes expand {
  0% {
    stroke-width: 5rem;
  }
  100% {
    stroke-width: 65rem;
  }
}

@keyframes retract {
  0% {
    stroke-width: 65rem;
  }
  100% {
    stroke-width: 5rem;
  }
}

path {
  stroke-dasharray: var(--path-length);
}

.landing text {
  text-anchor: middle;
  alignment-baseline: middle;
}

.about path {
  stroke-width: 80%;
}

#profile-overlay {
  opacity: 0.5; /* Set the initial opacity to the desired level */
  transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
}

#profile-overlay:hover, #about-border-image:hover ~ #profile-overlay, #about-profile-image:hover ~ #profile-overlay {
  opacity: 0; /* The overlay disappears when the image is hovered over */
}

@media (prefers-reduced-motion: no-preference) {
  .landing.in-view path {
    animation: draw 2.75s forwards;
    stroke-dashoffset: var(--path-length);
  }
  .transition.in-view path {
    animation: draw 0.40s forwards;
    stroke-dashoffset: var(--path-length);
  }
  .about.in-view path {
    stroke-width: 5rem;
    animation: draw 0.5s forwards, expand 0.75s forwards linear;
    animation-delay: 0.0s, 0.5s;
    stroke-dashoffset: var(--path-length);
  }
  .about.projects-in-view path {
    animation: retract 0.5s;
    stroke-dashoffset: 0;
  }
  .about.in-view.projects-in-view path#about-mask-path {
    animation-delay: 0s;
  }
  .about.in-view.projects-in-view path#about-red-path {
    animation-delay: 0s;
  }

  .about.in-view path#about-mask-path {
    animation-delay: 0.5s;
  }

  .projects.in-view path {
    animation: draw 0.5s forwards, expand 0.75s forwards linear;
    animation-delay: 0.4s, 0.9s;
    stroke-dashoffset: var(--path-length);
  }
}
